.help-block {
     color: white !important;
     margin-top: 5px !important;
 }
.forum-list__item{
    border-top: 1px solid #474747;
}
.forum-list__item_child{
    margin-left: 15%;
}
.forum-list-info:before{
    display: none;
}
.comment_textarea{
    width: 100% !important;
}
.comment_button_coverd{
    display: flex;
    justify-content: flex-end;
}
.comment_button_coverd .comment_button{
    display: inline-block;
    position: relative;
    min-width: 200px;
    max-width: 332px;
    text-align: center;
    padding: 14px 16px 15px 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #fff;
}
.comment_button_coverd .comment_button:hover{
    background-color: #afabab;
}